.spinner_ajPY {
  transform-origin: center;
  animation: spinner_AtaB 0.75s infinite linear;
}

.loaderContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
@keyframes spinner_AtaB {
  100% {
    transform: rotate(360deg);
  }
}
